<div class="header">
  <ul>
      <h1 id="titulo-principal">La programacion Para Mi</h1>
     <p> Quiero dedicarle este espacio a la programacion Web en general , gracias a los estudios que he obtenido sobre esta tematica
      mi perspectiva social , intelectual,laborlal y Personal en aspectos en general cambio ya que abri mi mente 
      frente a las tegnologias y lenguajes que Dominan el mundo y permiten miles de cosas innovadoras dia a dia 
      por esto gracias , por cambiar mi forma de ver el mundo y por que se que en un futuro 
      cambiaras mi estilo de vida. 

      proyectos a futuro:
      </p>

       <li> Realizar mi primer pagina de e-commerce.</li>
       <li> Tener la capacidad de estudio constante frente a la programacion y sus nuevas actualizaciones.</li>
       <li> Obtener el trabajo de mis sueños como programador full stack.</li>
       <li> Interés por obtener los mejores resultados de las actividades realizadas en Eafit.</li>
  </ul>
</div>