<div class="header">
    <img class="circular--square" src="/assets/foto_Santiago_ocampo.jpeg" alt="foto santiago ocampo" />
    
    <ul>
        <h1 id="titulo-principal">Santiago Ocampo</h1>
       <p>Soy un estudiante de administración de empresas a distancia de noveno
        semestre de la universidad militar nueva granada por dicha modalidad, no
        tengo ningún inconveniente en cuanto a mi disponibilidad de tiempo,
        preparado para aplicar y desarrollar conocimientos acerca de la
        planeación, organización, dirección y control empresarial, siguiendo de
        manera responsable las metas y propósitos de la empresa o institución.
        tambien estoy certificandome como desarrollador Frontend con la
        universidad Eafit especializado en Html , Css , Javascript, con bases
        para desarrollar proyectos en Angular . Además de esto tengo las bases
        del conocimiento matemático y lógico necesario para aprender cualquier
        lenguaje de programación estructurado o no estructurado. Siendo una
        persona emprendedora y comprometida con el entorno, con altos valores
        éticos y morales, eficaz, eficiente hábil para dar soluciones a
        problemas reales que tengan un impacto positivo en la sociedad, además:
        </p>

         <li> Responsable, comprometido, colaborador, respetuoso.</li>
         <li> Competencias de aprendizaje, creatividad y proactividad.</li>
         <li> Facilidad y disposición para trabajar en equipo aprendiendo, enseñando y mejorando.</li>
         <li> Interés por obtener los mejores resultados de las actividades realizadas y en los tiempos especificados.</li>
    </ul>
</div>
<div class="main">

    <div class="main">
        <div class="card">
          <h2><i class="fa-solid fa-building"></i> Experiencia Laboral</h2>
          <ul class="lista">
            <li class="item">
              <h3>CHILL COMPANY</h3>
              <p>Diciembre 2021 - julio 2022 </p>
              <ul>
                <li>asistente financiero</li>
                <li>apoyo a facturacion</li>
              </ul>
            </li>
            <li class="item">
              <h3>LA PLAYA S.A.S</h3>
              <p>Julio 2022- Diciembre 2022</p>
              <ul>
                <li>Asistente administrativo</li>
                <li>contabilidad,horarios</li>
              </ul>
            </li>
          </ul>
        </div>
    <div class="card">
        <h2><i class="fa-solid fa-graduation-cap"></i> Educación</h2>
        <ul class="lista">
            <li class="item">
                <h3>Universidad Militar Nueva granada</h3>
                <p>administración de empresas</p>
                <p>Enero 2019 - Actualidad (noveno semestre)</p>
            </li>
            <li class="item">
                <h3>Universidad Eafit</h3>
                <p>Desarrollo Frontend y Backend</p>
                <p>Diciembre 2022-actualidad</p>
            </li>
            <li class="item">
                <h3>Gimnasio San Mateo</h3>
                <p>Bachiller</p>
                <p>Graduado(2017)</p>
            </li>
        </ul>
    </div>
    <div class="card">
        <h2><i class="fa-solid fa-chart-bar"></i> Habilidades</h2>
        <ul class="lista">
            <li class="item">
                <div class="skill">
                    <div class="skill-description">
                        <span>Javascript</span>-<span>75%</span>
                    </div>
                    <div class="progress">
                        <div class="progress percentage" style="width: 75%"></div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-description">
                        <span>HTML</span>-<span>75%</span>
                    </div>
                    <div class="progress">
                        <div class="progress percentage" style="width: 75%"></div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-description">
                        <span>CSS</span>-<span>50%</span>
                    </div>
                    <div class="progress">
                        <div class="progress percentage" style="width: 50%"></div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-description">
                        <span>Angular</span>-<span>50%</span>
                    </div>
                    <div class="progress">
                        <div class="progress percentage" style="width: 50%"></div>
                    </div>
                </div>
                <div class="skill">
                  <div class="skill-description">
                      <span>Ingles</span>- <span>B1</span>- <span>75%</span>
                  </div>
                  <div class="progress">
                      <div class="progress percentage" style="width: 75%"></div>
                  </div>
              </div>
              <div class="skill">
                <div class="skill-description">
                    <span>Excel</span><span>-</span><span>90%</span>
                </div>
                <div class="progress">
                    <div class="progress percentage" style="width: 90%"></div>
                </div>
                
            </div>
            </li>
            